To this point, the seed labeling subset has been extracted using reservoir sampling, creating a random set of 10,000 examples. Now, this subset, which has been written to seed_labeling_unlabeled.csv, will be labeled and updated with the regex functions found in diet_classificaion.py

In [13]:
# Let's begin by importing required functions and dependencies.

import pandas as pd
from diet_classification import PATTERN_FUNCTIONS

seed_df = pd.read_csv('../CSV_data/seed_labeling_unlabeled.csv')

seed_df.head(1)

,title,ingredients,directions,original_index
0,brown rice,"['22 oz. water', '6 beef bouillon cubes', '1 c...","['dissolve bouillon cubes in water.', 'saute o...",635717

In [14]:
# We're on the right track! Next, let's manipulate this data to a singular row

seed_df_rows = seed_df.iterrows() # Creates an iterable of rows

# What does one row look like?
first_row = next(seed_df_rows)[1] # Recall, pandas rows come in form of a two-tuple, (index, row), so we extract row. 
display(first_row)

title                                                    brown rice
ingredients       ['22 oz. water', '6 beef bouillon cubes', '1 c...
directions        ['dissolve bouillon cubes in water.', 'saute o...
original_index                                               635717
Name: 0, dtype: object

In [16]:
# Let's look at how we can apply all of our pattern functions to the list of ingredients and store them to an individual row. 
# Then, we can continue on to generalize this to all rows, iterating one-by-one.

first_row_ingredients = first_row['ingredients']
display(first_row_ingredients)
display(type(first_row_ingredients))

"['22 oz. water', '6 beef bouillon cubes', '1 c. rice', '1 stick butter', '1/2 c. chopped onion', '1/2 c. chopped mushrooms']"

str

In [ ]:
# Wait - this isn't a list, it's a string! We need to convert it to the correct data type before we proceed.